@page {
    size: US Letter;
    margin: 0.5in;   
}
.information_header{
    text-align: center;
}
div, h1, h2, h3, p {
    margin: 0;
    padding: 0;

}
.info{
    text-align: center;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
    margin-top: 20px;
}
h3{
    font-size: medium;
}
hr{
    height: 2px; /* Sets the thickness of the line */
    background-color: #000000; 
    border: none; 
    margin: 2px auto 5 px auto; 
    width: 90%; 
    align-self: center;
    
}