@media print {
    @page {
        /* Set the page size to standard letter dimensions */
        size: letter;
        /* Optional: Adjust margins (default is usually fine) */
        margin: 1in; 
    }

    /* Ensure the main content uses the full available width/height */
    body {
        width: 8.5in;
        height: 11in;
        margin: 0;
        padding: 0;
    }

    /* Add any other print-specific styles here, like hiding navigation */
    .no-print {
        display: none;
    }
}
.information_header{
    text-align: center;
}
div, h1, h2, h3, p {
    margin: 0;
    padding: 0;

}
.info{
    text-align: center;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
    margin-top: 20px;
}
h3{
    font-size: medium;
}
/* hr{
    height: 2px;  
    background-color: #000000; 
    border: none; 
    margin: 2px auto 5px auto; 
    width: 90%; 
    align-self: center;
    
} */