@page {
    size: US Letter;
    margin: 0.5in;   
}
.information_header{
    text-align: center;
}
div, h1, h2, p {
    margin: 0;
    padding: 0;
}
/* h1{
font-size: 14;
}
h2{
    font-size: 12;
}
h3{
    font-size: 10;
} */
hr{
    height: 2px; /* Sets the thickness of the line */
    background-color: #000000; /*Sets the color*/
    border: none; /* Removes the default border */
    margin: 5px auto 5 px auto; /* Adds space above and below the line */
    width: 80%; /* Sets the width of the line */
    align-self: center;
    
}